extends ./layout



block b-page--head
    h1 Управление серверами



block b-page--side

    ul.nav.nav-list
        li: a(ng-href="#/") Сводка
        li.nav-list--sep
        li: a(ng-href="#/servers/events/~") События серверов

    ul.nav.nav-list

        li.nav-list--header Отчеты
        li: a(href='#/projects') За 
            u день
            span, 
            u неделю
            span, 
            u месяц
            span, 
            u год

        li.nav-list--header Статистика
        li: a(href='#/projects') За 
            u день
            span, 
            u неделю
            span, 
            u месяц
            span, 
            u год

    ul.nav.nav-list(style='letter-spacing:1px; text-transform:uppercase;')
        li.nav-list--header Рассылка сообщений
        li: a(href='#/servers/send/chat') Рассылка в чат


    ul.nav.nav-list.nav-tags
        li.nav-list--header Серверы
        li: a(href='#/servers/server/~') Список серверов
        //li: a(href='#/servers/instance/~') Список инстансов

        li.nav-list--header Серверы по проектам
        li: a(href='#/projects') Список проектов →
        li: a(href='#/projects') Со списками серверов →
        li: a(href='#/projects') Будут тут →

        li.nav-list--header Серверы по тегам
        li: a(href='#/tags') Деревья →
        li: a(href='#/tags') Используемых серверами тегов →
        li: a(href='#/tags') Будут тут →

block b-page--main
    .row(ng-controller="ServersServerListCtrl")
        .col-xs-12.col-sm-6.col-lg-4(ng-repeat="server in servers | filter:serverSearch").card-col
            figure.card
                span.card-side.pull-right
                    a(ng-click="expandCard()")
                        u {{server.name}}
                        i(style='margin-right:10px; margin-left:15px; border-top-color:rgba(94, 94, 94, 0.73);').caret
                    //i(style='margin:0 5px 0 15px; font-size:14px').icon-double-angle-down

                figcaption.card-head
                    h3.card-title
                        a(ng-href="#/servers/server/{{server.id}}")
                            u {{server.title}}
                            i.players-indicator.indicator
                                hr.value
                .instances-indicator.indicator
                    hr.value

-//server:
-//    title
-//    tagline
-//
-//    tags: теги сервера
-//
-//    block: айди блока, привязанного к серверу
