extends ./layout



block b-page--head
    h1 Управление игроками



block b-page--side

    ul.nav.nav-list
        li: a(ng-href="#/") Сводка
        li.nav-list--sep
        li: a(ng-href="#/players/events/~") События игроков

    ul.nav.nav-list

        li.nav-list--header Отчеты
        li: a(href='#/projects') За 
            u день
            span, 
            u неделю
            span, 
            u месяц
            span, 
            u год

        li.nav-list--header Статистика
        li: a(href='#/projects') За 
            u день
            span, 
            u неделю
            span, 
            u месяц
            span, 
            u год

    ul.nav.nav-list(style='letter-spacing:1px; text-transform:uppercase;')
        li.nav-list--header Рассылка сообщений
        li: a(href='#/players/send/email') Рассылка EMAIL
        li: a(href='#/players/send/sms') Рассылка SMS

    ul.nav.nav-list.nav-tags
        li.nav-list--header Игроки
        li: a(href='#/players/player/~') Список игроков

        li.nav-list--header Игроки по проектам
        li: a(href='#/projects') Список проектов →
        li: a(href='#/projects') Со списками серверов →
        li: a(href='#/projects') Будут тут →

        li.nav-list--header Игроки по группам
        li: a(href='#/tags') Деревья →
        li: a(href='#/tags') Используемых серверами тегов →
        li: a(href='#/tags') Будут тут →



block b-page--main
    .row(ng-controller="PlayersPlayerListCtrl")
        .col-xs-12.col-sm-6.col-lg-4(ng-repeat="player in players | filter:playerSearch").card-col
            figure.card
                span.card-side.pull-right
                    a(ng-click="expandCard()")
                        u {{player.name}}
                        i(style='margin-right:10px; margin-left:15px; border-top-color:rgba(94, 94, 94, 0.73);').caret

                figcaption.card-head
                    h3.card-title
                        a(ng-href="#/players/player/{{player.id}}")
                            u {{player.id}} player.title нужен тут
                            i.players-indicator.indicator
                                hr.value
                .instances-indicator.indicator
                    hr.value
