extends ../layout



block b-page--main
    .section--main--bar: .row
        .col-10
            input.input(placeholder='Поиск', ng-model='instanceSearch')
        .col-2
            a.btn.btn-primary(ng-click='showDetails(null)')= 'Создать'

    table.table.instances
        thead
            tr
                th.t: .t-col #
                th.t.col-flex: .t-col.sortable: .sortable-cell Название сервера
                th.t: .t-col Хост:порт
                th.t: .t-col
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='instance in instances | filter:instanceSearch')
                td.t: .t-col {{instance.id}}
                td.t: .t-col {{instance.serverTitle}}
                td.t: .t-col {{instance.host}}:{{instance.port}}
                td.t: .t-col
                    button.btn.btn-success(ng-click='showDetails(instance)')
                        i.icon-wrench
