.layout-landing
    .row
        .col-12
            h1 js 
                a: u jet console
                p advanced angular on express
                p configuration management
                p framework for
                p node
