extends ../layout

block b-page--main

    .section--main--bar: .row
        .col-10
            input.input(placeholder='Поиск', ng-model='serverSearch')
        .col-2
            a.btn.btn-primary(ng-click='showDetails(null)')= 'Создать'


    table.table.players
        thead
            tr
                th.t: .t-col #
                th.t.col-flex: .t-col.table-col: .table-col-sortable Имя сервера
                th.t: .t-col Ключ
                th.t: .t-col
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='server in servers | filter:serverSearch')

                td.t: a.t-col(ng-href="#/servers/server/{{server.id}}")
                    u {{server.id}}

                td.t: a.t-col(ng-href="#/servers/server/{{server.id}}")
                    u {{server.title}}

                td.t: a.t-col(ng-href="#/servers/server/{{server.id}}")
                    u {{server.key}}

                td.t
                    button.btn.btn-success(ng-click='showDetails(server)')
                        i.icon-wrench

    .row: .col-12: a(href='#/servers/server/create')= 'Создать'



append dialog
    .item-dialog(ng-if='view.dialog.overlay=="server"', ng-controller='ServersServerDialogCtrl', ng-init='state=view.dialog.state')
        .row: .col-12.dialog--head.info(ng-class="{'primary':'none'==state}")
            i.icon-share-alt
            span  Сервер

        .row: .col-12.dialog--body

            .row: .col-12.col-sm-12.col-lg-10.col-offset-1
                form(name='ServerForm')
                    fieldset
                        input.input(placeholder='Название сервера', type='text', required, ng-maxlength='50', ng-model='server.title')
                        input.input(placeholder='Name', type='text', required, ng-maxlength='50', ng-model='server.name')
                        input.input(placeholder='Ключ', type='text', required, ng-maxlength='50', ng-model='server.key')


                    fieldset(name='ServerTagForm')
                        .row
                            .col-10
                                select.input(ng-model='tag')
                                    option(ng-repeat='tag in tags', value='{{tag}}') {{tag.name}} ({{tag.titleRuSingular}})
                            .col-1
                                button.btn(ng-click='addTag(tag)',ng-disabled='!tag')
                                    i.icon-plus

                        .row(ng-repeat='serverTag in server.tags')
                            .col-3 {{serverTag.name}}
                            .col-1
                                button.btn(ng-click='removeTag(serverTag)')
                                    i.icon-minus


                    fieldset(ng-if='action=="create"')
                        button.btn.btn-primary.btn-block(type='submit', ng-click='create()', ng-disabled='!ServerForm.$valid')
                            span Создать сервер

                    fieldset(ng-if='action=="update"'): .row
                        .col-10
                            button.btn.btn-primary.btn-block(type='submit',ng-click='update()',ng-disabled='!ServerForm.$valid')
                                span Обновить сервер
                        .col-2
                            button.btn.btn-link.btn-block.text-left(ng-click='delete()')
                                span Удалить
