extends ./layout



block b-page--head
    h1 Управление отчетами



block b-page--side

    ul.nav.nav-list
        li.active: a(ng-href="#/reports") Сводка



block b-page--main

    .row
        h2 Отчеты будут тут
