extends ./layout



block b-page--head
    b Управление содержимым



append b-page--side

    ul.nav.nav-list
        li: a(ng-href="#/content") Сводка
        li.nav-list--sep
    ul.nav.nav-list
        li.nav-list--header Предметы
        li: a(ng-href='#/content/material/~') Справочник материалов
        li: a(ng-href='#/content/enchantment/~') Справочник чар
        li.nav-list--header Теги
        li: a(ng-href='#/content/tag/~') Справочник тегов
