extends ../layout



append head-scripts

    include includes/players/players.coffee
    include includes/servers/servers.coffee
    include includes/content/content.coffee
    include includes/store/store.coffee
    include includes/project.coffee

    :coffeescript



        app= angular.module 'manage', ['awesome', 'app', 'project']
        app.constant 'version', '0.2'

        app.constant 'path', ''



        app.config ($routeProvider, path, AppServiceProvider) ->

            $routeProvider.when path+'/', AppServiceProvider.Route.factory 'index', 'view',
                controller: 'IndexRouteCtrl', templateUrl: 'partials/'



            # Игроки

            # Игроки. Панель управления игроками
            $routeProvider.when '/players', AppServiceProvider.Route.factory 'players', 'view',
                templateUrl: 'partials/players/', controller: 'PlayersDashboardCtrl'

            # Игроки. Страница списка игроков
            $routeProvider.when '/players/player/~:page?/:query?', AppServiceProvider.Route.factory 'players-player-list', 'view',
                templateUrl: 'partials/players/Player/List/', controller: 'PlayersPlayerListCtrl'

            # Игроки. Страница игрока
            $routeProvider.when '/players/player/:id', AppServiceProvider.Route.factory 'players-player', 'dialog',
                templateUrl: 'partials/players/Player/Dialog/'

            # Игроки. Платежи
            $routeProvider.when '/players/payment/~:page?/:query?', AppServiceProvider.Route.factory 'players-payment-list', 'view',
                templateUrl: 'partials/players/Payment/List/', controller: 'PlayersPaymentListCtrl'



            # Игроки. Рассылка

            # Игроки. Рассылка писем
            $routeProvider.when '/players/send/email', AppServiceProvider.Route.factory 'players-send-mail', 'view',
                templateUrl: 'partials/players/Send/Email/', controller: 'PlayersSenderMailCtrl'

            # Игроки. Рассылка смс
            $routeProvider.when '/players/send/sms', AppServiceProvider.Route.factory 'players-send-sms', 'view',
                templateUrl: 'partials/players/Send/Sms/', controller: 'PlayersSenderSmsCtrl'



            # Серверы

            # Серверы. Панель управления серверами
            $routeProvider.when '/servers', AppServiceProvider.Route.factory 'servers', 'view',
                templateUrl: 'partials/servers/', controller: 'ServersDashboardCtrl'

            # Серверы. Страница списка серверов
            $routeProvider.when '/servers/server/~:page?/:query?', AppServiceProvider.Route.factory 'servers-server-list', 'view',
                templateUrl: 'partials/servers/Server/List/', controller: 'ServersServerListCtrl'

            # Серверы. Страница сервера
            $routeProvider.when '/servers/server/:id', AppServiceProvider.Route.factory 'servers-server', 'dialog',
                templateUrl: 'partials/servers/Server/Dialog/'

            # Серверы. Страница списка инстансов
            $routeProvider.when '/servers/instance/~:page?/:query?', AppServiceProvider.Route.factory 'servers-instance-list', 'view',
                templateUrl: 'partials/servers/Instance/List/', controller: 'ServersInstanceListCtrl'

            # Серверы. Страница инстанса
            $routeProvider.when '/servers/instance/:id', AppServiceProvider.Route.factory 'servers-instance', 'dialog',
                templateUrl: 'partials/servers/Instance/Dialog/'



            # Содержимое

            # Содержимое. Панель управления содержимым
            $routeProvider.when '/content', AppServiceProvider.Route.factory 'content', 'view',
                templateUrl: 'partials/content/', controller: 'ContentDashboardCtrl'

            # Содержимое. Страница списка материалов
            $routeProvider.when '/content/material/~:page?/:query?', AppServiceProvider.Route.factory 'content-material-list', 'view',
                templateUrl: 'partials/content/Material/List/', controller: 'ContentMaterialListCtrl'

            # Содержимое. Страница списка чар
            $routeProvider.when '/content/enchantment/~:page?/:query?', AppServiceProvider.Route.factory 'content-enchantment-list', 'view',
                templateUrl: 'partials/content/Enchantment/List', controller: 'ContentEnchantmentListCtrl'

            # Содержимое. Страница списка тегов
            $routeProvider.when '/content/tag/~:page?/:query?', AppServiceProvider.Route.factory 'content-tag-list', 'view',
                templateUrl: 'partials/content/Tag/List/', controller: 'ContentTagListCtrl'



            # Магазин

            # Магазин. Панель управления магазином
            $routeProvider.when '/store', AppServiceProvider.Route.factory 'store', 'view',
                templateUrl: 'partials/store/', controller: 'StoreDashboardCtrl'

            # Магазин. Страница списка заказов
            $routeProvider.when '/store/order/~:page?/:query?', AppServiceProvider.Route.factory 'store-order-list', 'view',
                templateUrl: 'partials/store/Order/List/', controller: 'StoreOrderListCtrl'

            # Магазин. Страница списка предметов
            $routeProvider.when '/store/item/~:page?/:query?', AppServiceProvider.Route.factory 'store-item-list', 'view',
                templateUrl: 'partials/store/Item/List/', controller: 'StoreItemListCtrl'



            # Диалоги
            $routeProvider.when '/login/:tab?', AppServiceProvider.Route.factory 'login', 'dialog',
                controller: 'LoginRouteDialogCtrl'



        app.controller 'IndexRouteCtrl', ($scope) ->
            console.log 'IndexRouteCtrl'



block app-head

    .navbar.navbar-static-top

        a.navbar-brand(ng-class="{active:'index'==app.route.name}", ng-href="{{app.prefix}}/")
            span jet engine
            sup {{app.version}}

        .nav-collapse

            ul.nav.navbar-nav.pull-left

                li(ng-class="{active:'players'==app.route.name}"): a(ng-href="{{app.prefix}}/players")
                    u Игроки
                    i.caret

                li(ng-class="{active:'servers'==app.route.name}"): a(ng-href="{{app.prefix}}/servers")
                    u Серверы
                    i.caret

                li(ng-class="{active:'content'==app.route.name}"): a(ng-href="{{app.prefix}}/content")
                    u Содержимое
                    i.caret

                li(ng-class="{active:'store'==app.route.name}"): a(ng-href="{{app.prefix}}/store")
                    u Магазин
                    i.caret

            ul.nav.navbar-nav.pull-right(ng-if="user")

                li: a(href='/engine/')
                    u Управление системой

                li: a(ng-href="/user")
                    u {{user.name}}

            ul.nav.navbar-nav.pull-right(ng-if="!user")

                li(ng-class="{active:'login'==app.dialog.overlay}"): a(ng-href="{{app.prefix}}/login")
                    u Sign In
