extends ../layout



append head-scripts

    include includes/users/users.coffee
    include includes/engine.coffee

    :coffeescript



        app= angular.module 'manage', ['awesome', 'app', 'engine']
        app.constant 'version', '0.2'

        app.constant 'path', ''



        app.config ($routeProvider, path, AppServiceProvider) ->

            $routeProvider.when path+'/', AppServiceProvider.Route.factory 'index', 'view',
                controller: 'IndexRouteCtrl', templateUrl: 'partials/'



            # Пользователи

            # Пользователи. Панель управления пользователями
            $routeProvider.when '/users', AppServiceProvider.Route.factory 'users', 'view',
                templateUrl: 'partials/users/', controller: 'UsersDashboardCtrl'

            # Пользователи. Страница списка пользователей
            $routeProvider.when '/users/user/~:page?/:query?', AppServiceProvider.Route.factory 'users-user-list', 'view',
                templateUrl: 'partials/users/User/List/', controller: 'UsersUserListCtrl'

            # Пользователи. Страница пользователя
            $routeProvider.when '/users/user/:userId/:tab?/:mode?', AppServiceProvider.Route.factory 'users-user', 'dialog',
                templateUrl: 'partials/users/User/Dialog/'



            # Диалоги
            $routeProvider.when '/login/:tab?', AppServiceProvider.Route.factory 'login', 'dialog',
                controller: 'LoginRouteDialogCtrl'



block app-head

    .navbar.navbar-static-top

        a.navbar-brand(ng-class="{active:'index'==app.route.name}", ng-href="{{app.prefix}}/")
            span jet engine
            sup {{app.version}}

        .nav-collapse

            ul.nav.navbar-nav.pull-left

                li(ng-class="{active:'users'==app.route.name}"): a(ng-href="{{app.prefix}}/users")
                    u Пользователи
                    i.caret

            ul.nav.navbar-nav.pull-right(ng-if="user")

                li: a(href='/project/')
                    u Управление проектом

                li: a(href="/user")
                    u {{user.name}}

            ul.nav.navbar-nav.pull-right(ng-if="!user")

                li(ng-class="{active:'login'==app.dialog.overlay}"): a(ng-href="{{app.prefix}}/login")
                    u Sign In
